{% extends 'blog/base.html' %}

{% block content %}
	<div class="page-header">
		<h3>
			<a class="btn btn-default" href="" onclick="history.back()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			{{ post.title }} 
			{% if post.published_date %}
			<small>{{ post.category }} | {{ post.published_date }} </small>
			{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">출판</a>
			{% endif %}
			{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			{% endif %}
		</h3>
	</div>
	<div>
		{{ post.text|linebreaksbr }}
	</div>
	<hr>
{% endblock content %}