{% extends 'blog/base.html' %}

{% block content %}
	<div class="page-header">
		<h3>
			{{ post.title }} 
			{% if post.published_date %}
			<small>{{ post.published_date }} </small>
			{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">출판</a>
			{% endif %}
			{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			{% endif %}
		</h3>
	</div>
	<div>
		{{ post.text|linebreaksbr }}
	</div>
	<hr>
	<div class="pages">
		<nav>
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock content %}