{% extends 'blog/base.html' %}

{% block content %}
	{% load el_pagination_tags %}
		{% paginate posts %} 
		{% for post in posts %}
		<div class="page-header">
			<h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> <small>{{ post.category }} | {{ post.published_date }}</small></h3>
		</div>
		<div>
			{{ post.text|truncatechars:200 }}
		</div>
		<hr>
		{% endfor %}

		<div class="pages">
			<nav>
				<ul class="pagination">
				{% get_pages %}
				{% if pages.paginated %}
					<li>
					{{ pages.first_as_arrow }}
					</li>
					<li>
					{{ pages.previous }}
					</li>
					{% for page in pages %}
					<li>
					{{ page }}
					</li>
					{% endfor %}
					<li>
					{{ pages.next }}
					</li>
					<li>
					{{ pages.last_as_arrow }}
					</li>
				{% endif %}

				</ul>
			</nav>
		</div>

{% endblock content %}