{% extends 'blog/base.html' %}

{% block content %}
	<div class="page-header">
		<h3>
			<a class="btn btn-default" href="" onclick="history.back()">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			{{ post.title }} 
			{% if post.published_date %}
			<small>
				{% if post.category == "웹개발" %}
					웹 개발
				{% elif post.category == "cpp" %}
					C++
				{% elif post.category == "python" %}
					Python
				{% elif post.category == "js" %}
					JavaScript
				{% elif post.category == "etc" %}
					자료 보관함
				{% else %}
					{{ post.category }}
				{% endif %}
				 | {{ post.published_date }} 
			</small>
			{% else %}
			<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">출판</a>
			{% endif %}
			{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			{% endif %}
		</h3>
	</div>
	<div>
		{% autoescape off %}
		{{ post.text|linebreaksbr }}
		{% endautoescape %}
	</div>
	<hr>
{% endblock content %}